@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #020202;
  color: #f7f7ff;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.loader-bar {
  background: linear-gradient(90deg, rgba(209, 236, 255, 0.8), rgba(54, 165, 255, 0.8));
}
